<h1>Currently in <%= @city.name %>:</h1>

<ul>
<% @neighborhoods.each do |neighborhood| %>
  <li><h3><%= neighborhood.name %></h3></li>
  <ul>
    <li><%= neighborhood.most_recent_weather_report %></li>
  </ul>
<% end %>
</ul>
